# Libraries

In [8]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
# import random
import re
# import scrapy

In [3]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 95%; }
    div#menubar-container     { width: 65%; }
    div#maintoolbar-container { width: 99%; }
</style>
"""))

# Importing Datasets

### New York Times

In [35]:
data_nyt = pd.read_csv('data/nyt_base_both.csv')

In [43]:
data_nyt.head()

,Candidate,Date,Headline,Site
0,trump,2016-10-01,Trump and the Intellectuals,New York Times
1,trump,2016-10-01,The Other Trump,New York Times
2,trump,2016-10-01,Trump Infrastructure Plan’s Fatal Flaw,New York Times
3,trump,2016-10-01,Donald Trump’s Pathetic Fraternity,New York Times
4,trump,2016-10-01,How Could Anyone Vote for Trump?,New York Times

### Fox News

In [23]:
data_fox = pd.read_csv('data/fox_both_headlines.csv', sep=";", encoding='latin-1')

In [24]:
data_fox.head()

,Candidate,Date,Headline,Site
0,trump,2016-10-01,"John Sununu reverses position, endorses Trump",Fox News
1,trump,2016-10-01,Campaign adviser: Trump wins the debate over t...,Fox News
2,trump,2016-10-01,Women who know Trump defend the GOP candidate'...,Fox News
3,trump,2016-10-01,Trump's economic agenda: Cutting taxes for job...,Fox News
4,trump,2016-10-01,Presidential campaign spiraling downward with ...,Fox News

In [37]:
data_nyt.drop(columns='Snippet', inplace = True)
data_nyt.head()

  Candidate        Date                                Headline
0     trump  2016-10-01             Trump and the Intellectuals
1     trump  2016-10-01                         The Other Trump
2     trump  2016-10-01  Trump Infrastructure Plan’s Fatal Flaw
3     trump  2016-10-01      Donald Trump’s Pathetic Fraternity
4     trump  2016-10-01        How Could Anyone Vote for Trump?

In [38]:
#Adding site name

data_nyt['Site'] = 'New York Times'

In [39]:
data_nyt.head()

,Candidate,Date,Headline,Site
0,trump,2016-10-01,Trump and the Intellectuals,New York Times
1,trump,2016-10-01,The Other Trump,New York Times
2,trump,2016-10-01,Trump Infrastructure Plan’s Fatal Flaw,New York Times
3,trump,2016-10-01,Donald Trump’s Pathetic Fraternity,New York Times
4,trump,2016-10-01,How Could Anyone Vote for Trump?,New York Times

# Joining the datasets

In [40]:
data_full = data_nyt.append(data_fox, ignore_index=True)

In [31]:
#drop some excess rows
data_full = data_full.dropna()

In [45]:
data_full.head()

,Candidate,Date,Headline,Site
0,trump,2016-10-01,Trump and the Intellectuals,New York Times
1,trump,2016-10-01,The Other Trump,New York Times
2,trump,2016-10-01,Trump Infrastructure Plan’s Fatal Flaw,New York Times
3,trump,2016-10-01,Donald Trump’s Pathetic Fraternity,New York Times
4,trump,2016-10-01,How Could Anyone Vote for Trump?,New York Times

# Export

In [42]:
data_full.to_csv('data/data_full.csv', index=False)